<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content"width=device-width">
    <title>Connectify | User Page</title>
    <link rel="stylesheet" href="./stylesheets/Jstyle.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1> <span class="highlight">Just</span> Connect </h1>
          <nav>
            <ul>
              <li><a href={{SignOut}}> Log Out </a> </li>
            </ul>
          </nav>
        </div>
    </header>

    <div class="grid-container1">
      <a class="itemc" href="/meetUp">Create a Meetup</a>
      <a class="itemb" href="/previousMeetUp">Previous Meetups</a>
      <a class="itema" href="/upComingMeetUp">Upcoming Meetups</a>
      <a class="itemd">Most popular places</a>
    </div>

<footer>
<p>A project by CSSI | JFB , Copyright &copy; 2018</p>
</footer>

  </body>
</html>
