<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content"width=device-width">
    <title>Connectify | User Page</title>
    <link rel="stylesheet" href="./stylesheets/Jstyle.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1> <span class="highlight">Just</span> Connect </h1>
          <nav>
            <ul>
              <li class="current"><a href="/">Home</a></li>
            </ul>
          </nav>
        </div>
    </header>

<!-- The boxes for the data   -->
      <div class="boxed">
          <form>
            <div class= "style">
            Meet Up Name<br>
            <input type="text" name="Meet Up Title" required><br>
            Time<br>
            <input type="text" name="Time" required><br>
            <!-- Date<br>
            <input type="text" name="Date"><br>
            Time<br>
            <input type="text" name="Time"><br> -->
            Place<br>
            <input type="text" name="Place" required ><br>
            Add Friends<br>
            <input type="text" name="Add Friends" required><br>
          </div>
          <!-- <legend>Choose Dates</legend> -->
          <div>
              <!-- <label for="start">Date</label> -->
              Date<br>
              <input type="date" id="start" name="trip"
                     value="2018-07-22"
                     min="2018-01-01" max="2018-12-31" />
          </div>

          <!-- <div>
              <label for="end">End</label>
              <input type="date" id="end" name="trip"
                     value="2018-07-29"
                     min="2018-01-01" max="2018-12-31"/ >
          </div> -->
          <!-- </fieldset> -->
          <br>

            <div>
            <button type="submit" class="button_1">Add</button>
            </div>
          </form>

      </div>

<footer>
<p>A project by CSSI | JFB , Copyright &copy; 2018</p>
</footer>

  </body>
</html>
