<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content"width=device-width">
    <title>Connectify | Welcome</title>
    <link rel="stylesheet" href="./stylesheets/Jstyle.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1> <span class="highlight">Just</span> Connect </h1>
          <nav>
            <ul>
              <li><a href="#about_">About</a></li>
              <li><a href={{signin_Url}}> Log In </a> </li>
            </ul>
          </nav>
        </div>
    </header>


    <section id="showcase">
      <div class="container">
        <h1 id = "connectAtEase">Plug In The Pieces <br> And JustConnect</h1>
      </div>
    </section>

    <section id="newsletter">
    <div class="container">
      <h1>Subscribe to our Newsletter</h1>
      <form>
        <input type="email" placeholder="Enter Email..." >
        <button type="submit" class="button_1">Subscribe</button>
      </form>
    </div>
  </section>

  <section id="boxes">
    <div class="container">

      <div class="box">
        <img src="./img/jackson.gif" alt="jackson" width="200px" height="200px">
        <h3>Jackson</h3>
      </div>

      <div class="box">
        <img src="./img/Francis.gif" alt="francis" width="200px" height="200px">
        <h3>Francis</h3>
      </div>

      <div class="box">
        <img src="./img/bibi.gif" alt="bibi" width="200px" height="200px">
        <h3>Bibi</h3>
      </div>

      <div class="box">
        <img src="./img/bot.gif" alt="bot" width="200px" height="200px">
        <h3>Bot</h3>
      </div>
  </section>

<footer>
<p>A project by CSSI | JFB , Copyright &copy; 2018</p>
</footer>

  </body>
</html>
